@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.DropDownList("客戶代號", (List<SelectListItem>)ViewBag.custData)
        <table>
            <tr>
                <td>客戶代號</td>
                <td>員工代號</td>
                <td>運送地點</td>
            </tr>

            @*@foreach (var item in (List<eSalex.Models.Class1>)ViewBag.Data)
            {

            }*@
        </table>
    </div>
</body>
</html>
